- set_fact: clues_powermanager_class="cluesplugins.{{ clues_powermanager_plugin }}"
  when: clues_powermanager_plugin is defined

# CLUES2 requirements
- name: Apt install CLUES2 requirements in Deb system
  apt: pkg=python-sqlite,unzip,python-pip,python-requests
  when: ansible_os_family == "Debian"

- name: Install epel
  yum: pkg=epel-release
  when: ansible_os_family == "RedHat"

- name: Yum install CLUES2 requirements in RH system
  yum: pkg=python-sqlite3dbm,unzip,python-pip,python-requests
  when: ansible_os_family == "RedHat"

- easy_install:
    name: pip
    state: latest
  ignore_errors: yes

- name: Install CLUES2 pip requirements
  pip: name=pyOpenSSL

- name: Install CLUES2 pip requirements
  pip: name={{item}}
  with_items:
  - web.py
  - ply

# Get CLUES2 and dependencies
- name: Retrieving cpyutils from github
  get_url: url=https://github.com/grycap/cpyutils/archive/master.zip dest=/tmp/cpyutils.zip force=no
  register: result
  until: result|success
  retries: 5
  delay: 1

- name: Retrieving CLUES2 from github
  get_url: url=https://github.com/grycap/clues/archive/{{ clues_version }}.zip dest=/tmp/clues.zip force=no
  register: result
  until: result|success
  retries: 5
  delay: 1

# Unarchive CLUES2 and dependencies
- name: Unarchiving CLUES2 and cpyutils
  unarchive: src=/tmp/{{item}}.zip dest=/tmp copy=no creates=/tmp/{{item}}-master
  with_items:
  - clues
  - cpyutils

# Get CLUES2 INDIGO plugins
- name: Retrieving CLUES2 INDIGO plugins
  get_url: url=https://raw.githubusercontent.com/indigo-dc/clues-indigo/master/{{item}}.py dest=/tmp/clues-master/cluesplugins/{{item}}.py force=yes
  register: result
  until: result|success
  retries: 5
  delay: 1
  with_items:
  - indigo_orchestrator
  - mesos
  - condor

# CLUES2 installation
- name: Installing cpyutils
  command: python setup.py install chdir=/tmp/cpyutils-master
- name: Installing CLUES2
  command: python setup.py install chdir=/tmp/clues-{{ clues_version }} creates=/usr/local/bin/cluesserver

# CLUES2 configuration
# /etc/hosts configuration
- name: Configuring CLUES2
  shell: |
    for i in `seq 1 {{ec3_max_instances}}`; do
      item="{{vnode_prefix}}${i}";
      grep -q "\<${item}\>" /etc/hosts || echo "127.0.0.1 ${item}.localdomain ${item}" >> /etc/hosts;
    done

# CLUES2 Config file
- file: path=/etc/clues2 state=directory mode=755

- command: cp /etc/clues2/clues2.cfg-full-example /etc/clues2/clues2.cfg creates=/etc/clues2/clues2.cfg
  notify: restart cluesd

- ini_file: dest=/etc/clues2/clues2.cfg section={{ item.section }} option={{ item.option }} value="{{ item.value }}"
  with_items:
    - { section: 'general', option: 'POWERMANAGER_CLASS', value: '{{clues_powermanager_class}}' }
    - { section: 'scheduling', option: 'IDLE_TIME', value: '300' }
    - { section: 'monitoring', option: 'MAX_WAIT_POWERON', value: '2000' }
    - { section: 'monitoring', option: 'MAX_WAIT_POWEROFF', value: '900' }
    - { section: 'monitoring', option: 'PERIOD_LIFECYCLE', value: '10' }
    - { section: 'general', option: 'CLUES_SECRET_TOKEN', value: '{{clues_secret_token}}' }
    - { section: 'client', option: 'CLUES_SECRET_TOKEN', value: '{{clues_secret_token}}' }
    - { section: 'client', option: 'CLUES_REQUEST_WAIT_TIMEOUT', value: '0' }
  notify: restart cluesd

# CLUES IM configuration
- file: path=/usr/local/ec3 state=directory mode=755

# CLUES LRMS configuration
- name: Configuring the elastic cluster to use "{{clues_queue_system}}" LRMS
  include: "{{clues_queue_system}}.yml"

- name: Configuring the orchestrator plugin
  include: orchestrator.yml
  when: clues_powermanager_class == "cluesplugins.indigo_orchestrator"

- name: Configuring the im plugin
  include: im.yml
  when: clues_powermanager_class == "cluesplugins.im"
